// Place all the styles related to the pokemon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokedex {
  display: flex;
}

.poke-thumbnail {
  height: 50px;
  width: 50px;
}

.poke-list{
  display: flex;
  flex-direction: column;
  list-style-type: none;

}

.poke-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 85%;
  border: 2px solid #d43316;
  border-radius: 25px;
  padding: 5px;
}

.poke-list-item:hover {
  background-color: #16D484;
  padding: 20px;
}

.poke-list-item:active img {

  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
  transition-duration: 1s;
}

///////

.poke-detail {
  background-image: url('http://img08.deviantart.net/3cc2/i/2012/014/3/8/pokedex_project_cover_by_nmajmani-d4me5u4.png');

  border: 5px solid #d43316;
  border-radius: 25px;
  padding: 5px;
  width: 35%;
  height: 85%;
  margin-left: 40%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.poke-detail h3 {
  color: white;
}

.poke-img-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex: 2;
  width: 85%;
  border-radius: 25px;
  background-size: cover;
}


.poke-img-container img {
  max-height: 350px;
  height: 60%;
  width: 60%;
  padding: 40px;
}

.poke-img-container img:active {
  -webkit-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.poke-detail ul {
  width:inherit;
  list-style-type: none;
}

.poke-stats {
  width: 100%;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.poke-stats ul {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.stats-container {
  display: flex;
  width: 100%;
  align-content: space-around;
}

.stats-container ul {
  display: flex;
  justify-content: space-between;
}

.poke-items-container {
  width: 100%;
  flex: 1;
  display: flex;

}

.poke-items {
  height: 200px;
  display: flex;
  flex-direction: row;
}

.poke-items li {
  display: flex;
  align-items: center;
}

.poke-items li img{
  height: 20%;
  width: 20%;
}





//Image locations



.grass {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2Ff%2Ff2%2FAmie_Grass_Wallpaper.png&hash=ef6934c65140')
}

.fire {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F2%2F24%2FAmie_Fire_Wallpaper.png&hash=54e886e94ab7')
}

.water {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F9%2F98%2FAmie_Water_Wallpaper.png&hash=060e436756d8');
}

.bug {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F9%2F95%2FAmie_Bug_Wallpaper.png&hash=cb7257fb158e');
}

.dragon {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2Fe%2Fed%2FAmie_Dragon_Wallpaper.png&hash=4dc98cbc5f5e');
}

.rock {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F3%2F35%2FAmie_Rock_Wallpaper.png&hash=9966a29c2e07');
}

.ghost {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F6%2F61%2FAmie_Ghost_Wallpaper.png&hash=310cf7963542');
}

.poison {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F1%2F1a%2FAmie_Poison_Wallpaper.png&hash=fb14a54b019e');
}

.electric {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F6%2F62%2FAmie_Electric_Wallpaper.png&hash=444643f71d1e');
}

.normal {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F4%2F48%2FAmie_Normal_Wallpaper.png&hash=7b53dd19981e');
}

.ground {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2F3%2F34%2FAmie_Ground_Wallpaper.png&hash=770f9fe43179');
}

.fighting {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2Fa%2Fa4%2FAmie_Fighting_Wallpaper.png&hash=b96f68aa540c');
}

.psychic {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2Fd%2Fd8%2FAmie_Psychic_Wallpaper.png&hash=06c281bee1a4');
}

.ice {
  background-image: url('https://pokemondb.net/pokebase/qa-content/imgproxy.php?img=http%3A%2F%2Fcdn.bulbagarden.net%2Fupload%2Fb%2Fb5%2FAmie_Ice_Wallpaper.png&hash=25cc3c52904c');
}
